* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    font-size: 10pt;
}



*, *:before, *:after {
  box-sizing: border-box;
}



.grid {
    --margin: 2px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* wrap(quebra linha), no-wrap(nao quebra linha) */
    justify-content: flex-start;
    --align-items: stretch;
    transition: 1s;
    /*start, end, strech, center, baseline*/
    /*    align-content: */
    /*    flex-flow: */
}

.col1 {
    width: calc(4.166666% * 1);
    --flex: 1 1 auto;
    /* 1(valor padrao) = grow, 1(valor padrao) = shrink, auto(valor padrao) = basis */
    /*    flex-grow: ; Ocupação do resto da largura da div*/
    /*    flex-shrink: 1;  encolhe a div */
    /*    flex-basis: 10px;  define uma largura de cada elemente caso nao tenha */
}

.col2 {
    width: calc(4.166666% * 2);
}

.col3 {
    width: calc(4.166666% * 3);
}

.col4 {
    width: calc(4.166666% * 4);
}

.col5 {
    width: calc(4.166666% * 5);
}

.col6 {
    width: calc(4.166666% * 6);
}

.col7 {
    width: calc(4.166666% * 7);
}

.col8 {
    width: calc(4.166666% * 8);
}

.col9 {
    width: calc(4.166666% * 9);
}

.col10 {
    width: calc(4.166666% * 10);
}

.col11 {
    width: calc(4.166666% * 11);
}

.col12 {
    width: calc(4.166666% * 12);
}

.col13 {
    width: calc(4.166666% * 13);
}

.col14 {
    width: calc(4.166666% * 14);
}

.col15 {
    width: calc(4.166666% * 15);
}

.col16 {
    width: calc(4.166666% * 16);
}

.col17 {
    width: calc(4.166666% * 17);
}

.col18 {
    width: calc(4.166666% * 18);
}

.col19 {
    width: calc(4.166666% * 19);
}

.col20 {
    width: calc(4.166666% * 20);
}

.col21 {
    width: calc(4.166666% * 21);
}

.col22 {
    width: calc(4.166666% * 22);
}

.col23 {
    width: calc(4.166666% * 23);
}

.col24 {
    width: calc(4.166666% * 24);
}


/*
.col1:nth-child(2) {
    order: 0;
    padding: 0 2px; }
*/

.col {
    --border: 1px solid black;
    outline: 1px solid black;
    outline-offset: -1px;
    text-align: center;
    --padding: 0 5px;
}

.conteudo {
    height: 100px;
    background-color: lightgray;
    --margin: 10px 10%;
}


.tab-content{
    transform: 1s;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 0 0 4px 4px;
}
.tab-content label{
    float: left;
    display: block;
    flex: initial;
}


legend{
    color: black;
    padding: 5px;
    font-weight: bold;
    user-select: none;
}
fieldset{
    padding: 5px;
    border-radius: 4px;
}
.tab-sistem li{
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    --outline: 1px solid black;
    --outline-offset: -1px;
    position: relative;
    border: 1px solid black;
    border-radius: 3px 3px 0 0 ;
}
.margin-grid{
    margin-top: 50px;
}
.display-none{
    display: none !important;
}
/*
.with-gap:checked ~label{
    background-color: #e0e0e0;
}
*/

/*
#sped:checked ~ #tab2{
    display: block;
}
*/

.tab-sistem li label{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}
#tab2{
    display: none;
}
/*
.col1:nth-child(8){
    flex-grow: 2;
    padding: 0 2px; }


.col1:nth-child(2){
    flex-shrink: 3;
    padding: 0 2px; }

.col1:nth-child(2){
    flex-basis: 3;
    padding: 0 2px; }
*/
